
.vote_button {
    background-color: #c92222;   /*dark red 2*/
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    right: 0px;
     
}

/*set style for disabled button*/
.vote_button_disabled {
    background-color: #c92222;
    color: white;
    border: none;
    /*cursor: pointer;*/
    width: 100%;
    background-color: #b8b8b8;
    border-color: #b8b8b8;
    color: #000000;
    opacity: 0.7;
}

.voted_image{
    opacity:0.5;
}

/* Add a hover effect for buttons */
.vote_button:hover {
    /*opacity: 0.8;*/
}


#votealert {
    visibility: hidden;
    min-width: 250px;
    /*margin-right: 5px;*/
    background-color: #20cc2e; /*green*/
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 75%;
    bottom: 30px;
    font-size: 17px;
}

#votealert.show {
    visibility: visible;
    -webkit-animation: fadein 1.0s, fadeout 1.0s 4.0s;
    animation: fadein 1.0s, fadeout 1.0s 4.0s;
}
#votealertx {
    visibility: hidden;
    min-width: 250px;
    /*margin-right: 5px;*/
    background-color: #e20b0b; /*red*/
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 75%;
    bottom: 30px;
    font-size: 17px;
}

#votealertx.show {
    visibility: visible;
    -webkit-animation: fadein 1.0s, fadeout 1.0s 4.0s;
    animation: fadein 1.0s, fadeout 1.0s 4.0s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    height: ; /* Should be removed. Only for demonstration */
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
}


/* ------------------------------------------------------------------- 
 * responsive:
 * vote alert
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 1500px) {
    #votealert {
    visibility: hidden;
    min-width: 250px;
    /*margin-right: 5px;*/
    background-color: #20cc2e; /*green*/
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 75%;
    bottom: 30px;
    font-size: 17px;
}
}

@media only screen and (max-width: 1200px) {
    #votealert {
    visibility: hidden;
    min-width: 220px;
    /*margin-right: 5px;*/
    background-color: #20cc2e; /*green*/
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 75%;
    bottom: 30px;
    font-size: 17px;
}
}

@media only screen and (max-width: 1000px) {
    #votealert {
    visibility: hidden;
    min-width: 180px;
    /*margin-right: 5px;*/
    background-color: #20cc2e; /*green*/
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 14px;
    position: fixed;
    z-index: 1;
    left: 75%;
    bottom: 25px;
    font-size: 16px;
}
}

@media only screen and (max-width: 800px) {
    #votealert {
    visibility: hidden;
    min-width: 160px;
    /*margin-right: 5px;*/
    background-color: #20cc2e; /*green*/
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 13px;
    position: fixed;
    z-index: 1;
    left: 70%;
    bottom: 40px;
    font-size: 16px;
}
}

@media only screen and (max-width: 700px) {
   #votealert {
    visibility: hidden;
    min-width: 160px;
    /*margin-right: 5px;*/
    background-color: #20cc2e; /*green*/
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 13px;
    position: fixed;
    z-index: 1;
    left: 65%;
    bottom: 40px;
    font-size: 16px;
}
}

@media only screen and (max-width: 600px) {
    #votealert {
    visibility: hidden;
    min-width: 160px;
    /*margin-right: 5px;*/
    background-color: #20cc2e; /*green*/
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 13px;
    position: fixed;
    z-index: 1;
    left: 58%;
    bottom: 40px;
    font-size: 16px;
}
}

@media only screen and (max-width: 500px) {
    #votealert {
    visibility: hidden;
    min-width: 160px;
    /*margin-right: 5px;*/
    background-color: #20cc2e; /*green*/
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 12px;
    position: fixed;
    z-index: 1;
    left: 55%;
    bottom: 40px;
    font-size: 16px;
}
}

@media only screen and (max-width: 450px) {
    #votealert {
    visibility: hidden;
    min-width: 160px;
    /*margin-right: 5px;*/
    background-color: #20cc2e; /*green*/
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 11px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 40px;
    font-size: 16px;
}
}

@media only screen and (max-width: 400px) {
    #votealert {
    visibility: hidden;
    min-width: 160px;
    /*margin-right: 5px;*/
    background-color: #20cc2e; /*green*/
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 45%;
    bottom: 35px;
    font-size: 15px;
}
}